scikit-learn
torch 
torchvision 
torchaudio 
numpy 
matplotlib 
tqdm 
Pillow 
safetensors 
transformers
dataclasses
datasets
torchcodec
soundfile
seaborn
tiktoken
librosa
# apt-get update && apt-get install -y ffmpeg